.table_student_subjects {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table_student_subjects th, #table_student_subjects td {
    
    padding: 10px;
    text-align: left;
  }
  
  .table_student_subjects th {
    background-color: #4682B4;
    color: white;
  }
  
  .table_student_subjects tr {
    background-color: #D3D3D3;
  }
  
  .table_student_subjects tr:hover {
    background-color: #ddd;
  }
  